@CHARSET "UTF-8";

#wrapper {width:760px; margin:20px auto;}

#main form {margin:20px 0; border:1px solid #000; padding:20px;}
#main fieldset {margin:20px 0; border:1px solid #666; padding:20px;}
#main form .form-element {margin:10px 0; border:1px solid #ccc; padding:10px;}